@font-face {
	font-family: 'icons-about';
	src:url('/fonts/radiobox-icons.eot?-nvp96x');
	src:url('/fonts/radiobox-icons.eot?#iefix-nvp96x') format('embedded-opentype'),
		url('/fonts/radiobox-icons.woff?-nvp96x') format('woff'),
		url('/fonts/radiobox-icons.ttf?-nvp96x') format('truetype'),
		url('/fonts/radiobox-icons.svg?-nvp96x#icons-about') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-about-"], [class*=" icon-about-"] {
	line-height: .8;
	font-size: 13em;
}

[class^="icon-about-"], [class*=" icon-about-"], .icon-radiobox, [data-icon]:before {
	font-family: 'icons-about';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-about-tower:before {
	content: "\e600";
}
.icon-about-stream:before {
	content: "\e601";
}
.icon-about-share:before {
	content: "\e602";
}
.icon-about-repost:before {
	content: "\e603";
}
.icon-about-murica:before {
	content: "\e604";
}
.icon-about-dots:before {
	content: "\e605";
}
.icon-about-devices:before {
	content: "\e606";
}
.icon-about-cd:before {
	content: "\e607";
}
.icon-about-cassette:before {
	content: "\e608";
}
.icon-about-boxyphones:before {
	content: "\e609";
}
.icon-about-bitworld:before {
	content: "\e60a";
}
.icon-about-archive:before {
	content: "\e60b";
}
.icon-about-sheet:before {
	content: "\e60c";
}
.icon-radiobox-logo:before, [data-icon]:before {
	content: "\e60d";
	line-height: .9;
	font-size: 1.3em;
}
